body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.top-content {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    justify-content: center;
    height: 360px;
}


.text-box {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: left;
    /*border: 1px solid #ccc;*/
}

.box1 {
    flex: 1;
    max-width: 30%;
    font-size: 50px;
    margin-right: 10px;
}

.box2 {
    flex: 2;
    max-width: 70%;
}

.sub-heading {
    font-size: 25px;
}

.horizontal-line {
    height: 1px;
    background-color: grey;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.image-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.link-box {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    /*border: 1px solid #ccc;*/
}

.link-box img {
    width: 100%;
    height: auto;
    display: block;
}


