body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #eaeaea; /*#eaeaea;*/
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.top-content {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    justify-content: center;
    height: 370px;
}


.text-box {
    padding: 5px;
    background-color: #eaeaea; /*#f0f0f0;*/
    text-align: left;
    /*border: 1px solid #ccc;*/
}

.box1 {
    flex: 1;
    max-width: 30%;
    font-size: 60px;
    margin-right: 10px;
}

.box2 {
    flex: 2;
    max-width: 70%;
}

.profile-image {
    width: 120px;      /* adjust as needed */
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.heading {
    margin: 0;
    font-size: 60px;
    line-height: 1;
}

.sub-heading {
    margin-top: 5px;
    font-size: 25px;
}

.horizontal-line {
    height: 1px;
    background-color: grey;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.image-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.link-box {
    padding: 10px;
    background-color: #eaeaea; /*#f0f0f0;*/
    text-align: center;
    /*border: 1px solid #ccc;*/
}

.link-box img {
    width: 100%;
    height: auto;
    display: block;
}


#content-pane, #privacy-content-pane {
    display: none;
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
}

#privacy-content-pane {
    border-bottom: 10px;
}

.policy p {
    font-size: 10px;
}