body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #eaeaea; /*#eaeaea;*/
}

.container, #policy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.top-content {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    justify-content: center;
    height: 370px;
}


.text-box {
    padding: 5px;
    background-color: #eaeaea; 
    text-align: left;
    /*border: 1px solid #ccc;*/
}

.box1 {
    flex: 1;
    max-width: 30%;
    font-size: 60px;
    margin-right: 10px;
}

.box2 {
    flex: 2;
    max-width: 70%;
}

.profile-image {
    width: 120px;     
    height: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}

.heading {
    margin: 0;
    font-size: 60px;
    line-height: 1;
}

.sub-heading {
    margin-top: 5px;
    font-size: 25px;
}

.horizontal-line {
    height: 1px;
    background-color: grey;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.image-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.link-box {
    padding: 10px;
    background-color: #eaeaea; /*#f0f0f0;*/
    text-align: center;
    /*border: 1px solid #ccc;*/
}

.link-box img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.link-box button {
    border: 0px;
}

#content-pane, #privacy-content-pane {
    display: none;
    width: 100%;
    max-width: 800px;
    height: auto;
}

#privacy-content-pane {
    border-bottom: 10px; 
}

.policy a, .policy p {
    font-size: 10px;
}

.policy p {
    text-align: left;
}

.policy {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#policy-content-pane {
    display: none;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.job-header, .education-header {
    font-style: italic;
}

.job-container, .app-container .policy-container {
    padding-bottom: 15px;
    padding-bottom: 30px;
}


/* BACK TO TOP BUTTON */
.back-to-top-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.back-to-top-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-to-top-btn:hover {
    background-color: #45a049;
}